body, .main {
  background: #E0E0CE;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
}

md-input {
      border: 0;
      width: 350px;
      height: 40px;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
      border-bottom: 1px solid #435160;
      transition: background .3s ease-in-out;
      margin-top: 30px;

}

button {
  margin-top: 30px;
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

 p {
    padding-top: 40px;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 20px;

 }


 #loginform {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    outline: none;
    color: #6D7781;
    font-size: 16px;
    top: 10%;
    left: 50%;
    margin: auto;
 }


h2 {
    padding-top: 90px;
    color: #0A122A;
    font-family: 'Sofia', cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}
.material-icons {
    color: black;

}

a {
    color: #1FCE6D;
    font-style: italic;
}
button {
  background-color: #698F3F;
}

