* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

md-toolbar {
	background-color: #33DAFF;
	position: static;
}

[md-fab] {
  position: absolute;
  right: 5%;
  top: 34px;
  z-index: 0;
  background-color: black;
  border-radius: 50%;
}


#count {
  float: left;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}


#input-search {
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    margin-left: 100px;
}
 md-card-title {
  padding: 10px 10px;
 }

 md-card-content {
  padding-left: 5px;
 }

.container{
  display: flex;
  flex-flow: row wrap;
  perspective: 800px;

}
#info {
    float: right;
}
/*fab*/
#my_ul.active > li > a {
  opacity: 1;

}


.btn-secondary {
  opacity: 0;

}

.btn-floating {
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: white;


}
.fixed-action-btn {
  display:inline-table;

}


.fixed-action-btn i {
  vertical-align: middle;

}



.green  {
  background-color: green;
  position: absolute;
  right: 25px;


}

.black  {
    background-color: black;
    position: absolute;
    top: 2px;
    left: 20px;

}

.fixed-action-btn {
  position: absolute;
  display:inline-table;
  right: 28px;


}

ul {
  list-style-type: none;
}

#my_ul ul {
  text-align: right;


}

#my_ul ul li {
  display:inline-table;
  /*margin-right: 41px;
  margin-left: -48px;*/

}
.input-item {
  float: right;
  margin-left: 100px;
}

.btn-flip {
  margin-left: 120px;
  margin-top: 40px;
}

.back-flip {
    align-items: center;
    float: right;
}
#item {
      width: 250px;
      font-size: 14px;
      float: left;
      padding-top: 5px;

}
#item i {
  margin-top: -15px;
}

.back ul li {
  padding-top: 10px;
}

.checkbox {
  float: left;

}
label .material-icons {
    font-size:12px;
    margin-left: 250px;
}
/*flip*/
.card {
  padding: 0 !important;
   box-sizing: border-box;
    margin: 50px;
    width: 400px;
    height: 150px;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}


.face {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

}
.back  {
    background-color: white;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );

}
.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}



