* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

md-toolbar {
	background-color: #33DAFF;
	position: static;
}

[md-fab] {
  position: absolute;
  right: 5%;
  top: 34px;
  z-index: 0;
  background-color: black;
}


#count {
  float: left;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}


md-input {
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

md-card {
  box-sizing: border-box;
  margin: 50px 40px;
  width: 400px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}
#info {
    float: right;
}
/*fab*/
#my_ul.active > li > a {
  opacity: 1;
}


.btn-secondary {
  opacity: 0;
}

.btn-floating {
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  line-height: 40px;
  color: white;


}
.fixed-action-btn {
  display:inline-table;

}


.fixed-action-btn i {
  vertical-align: middle;
}


.red    {
  background-color: red;
  position: relative;

}

.green  {
  background-color: green;
  position: relative;


}

.blue   {
    background-color: black;
    position: absolute;
    top: 1px;
    right: 4px;


}
.fixed-action-btn {
  position: absolute;
  top: 5px;
  display:inline-table;
  right: 0;

}


ul {
  list-style-type: none;
  text-align: right;

}

li {
  display:inline-table;
  margin-right: 56px;
  margin-left: -48px;

}