<toaster-container toaster-options="
    {'time-out':{ 'toast-warning': 100, 'toast-error': 100 } }">
</toaster-container>
<md-toolbar>
    <div class="container">
        <h6 id="username">Hi, {{ username }}</h6>
        <form id="search">
            <md-input id="input-search" #bucketsearch type="text" name="search" placeholder="Search..">
                <span md-suffix> <i #searchicon [style.cursor]="'auto'" (click)="entersearch( filterinput, searchicon)" class="material-icons md-24 md-light">search</i></span>
            </md-input>
        </form>
    </div>
    <button title="Create a bucket list" md-fab (click)="open()">
        <i style="color:white; padding-top: 5px;" class="material-icons md-24">add</i>
    </button>
</md-toolbar>
<div class="container two">
    <div class="no-buckets" *ngIf="nobuckets">
        <div class="well well-lg">
            <h4>Hey there, {{ username }}! Welcome to bucketfront, you currently have  no bucketlists to display. To create one click <a style="cursor: pointer;" (click)="open()">here</a></h4>
        </div>
    </div>
    <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #myModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Enter Bucket Name</h4>
        </modal-header>
        <modal-body>
            <input #bucketitemid type="text" (keyup.enter)="bucketname=bucketitemid.value; modal.close();" class="form-control no-border input-lg" autofocus placeholder="Bucket Name">
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="bucketname=bucketitemid.value; modal.close();">Save</button>
        </modal-footer>
    </modal>
    <div class="container">
        <div class="row">
            <md-card #bucketselect class="col-md-3 card" *ngFor=" let bucket of bucketlist?.results | searchFilter:bucketsearch.value | paginate: { itemsPerPage: 4, currentPage: page } let s = index " [class.selected]="bucket===selectedBucket " (click)="onSelect(bucket,s)">
                <div class="front face">
                    <md-card-title id="edbucket"> {{bucket.list_name}}
                        <div class="fixed-action-btn">
                            <a id="btn-main" class="btn-primary btn-floating btn-large green" (click)="editModal.open()"><i class="material-icons">mode_edit</i></a>
                        </div>
                    </md-card-title>
                    <md-card-content>
                        <span md-prefix>Date created: {{ bucket.date_created | date: 'mediumDate' }} </span>
                        <span *ngIf="bucket.date_updated " md-suffix>Date modified: {{ bucket.date_updated | date: 'mediumDate' }} </span>
                        <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #editModal>
                            <modal-header [show-close]="true">
                                <h4 class="modal-title">Update Bucket Name</h4>
                            </modal-header>
                            <modal-body>
                                <div *ngFor=" let bucket of bucketlist?.results | searchFilter:bucketsearch.value; let s = index " [class.selected]="bucket===selectedBucket " (click)="onSelect(bucket,s) ">
                                    <div #bname class="view">
                                        <div *ngIf="bucket === selectedBucket">
                                            <input type="text" autofocus [value]="bucket.list_name" #editbucket class="editbucket" (keyup.enter)="commitEditBucketList(editbucket.value,editbucket, bname, bucket)" (keyup.escape)="cancelEdit(editbucket, bname, bucket)" (blur)="commitEditBucketList(editbucket.value,editbucket, bname, bucket)" class="form-control no-border input-lg">
                                        </div>
                                    </div>
                                </div>
                            </modal-body>
                            <modal-footer>
                                <button type="button" class="btn btn-default" (click)="editModal.close()">Cancel</button>
                                <button type="button" class="btn btn-danger" (click)="modalconfirm.open(); editModal.close(); "><i class="large material-icons">delete</i></button>
                                <button type="submit" class="btn btn-primary" (click)="bucketname=bucketlistid.value; editModal.close();"><i class="material-icons">update</i></button>
                            </modal-footer>
                        </modal>
                        <modal [animation]="animationsEnabled" #modalconfirm>
                            <modal-header [show-close]="true">
                                <h4 class="modal-title">Confirm Delete</h4>
                            </modal-header>
                            <modal-body>
                                You are about to delete an bucket list?
                            </modal-body>
                            <modal-footer>
                                <button type="button" style="width: 80px;" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                                <button type="button" style="width: 80px;" class="btn btn-primary" (click)="deleteBucketList(); modalconfirm.close();">Delete</button>
                            </modal-footer>
                        </modal>
                        <button class="btn-flip" id="item{{bucket.id}}" type="button">Items {{ bucket.items.length }} </button>
                    </md-card-content>
                </div>
                <div class="back face">
                    <ul>
                        <li>
                            <div class="no-items" *ngIf="noitems">
                                <div class="well well-sm">
                                    <h4>Go ahead and create the 1st item</h4>
                                </div>
                            </div>
                            <input #labelitem class="form-control" id="item" [disabled]="nobuckets" #item (keyup.enter)="addItem(item.value,item)" type="text " placeholder="Add a bucket Item" autofocus><span md-suffix><i (click)="addItem(item.value,item)" style="color: black;cursor: pointer;" class="material-icons">add</i></span>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="fixed">
                                            <th>
                                                <div *ngIf="!noitems" (click)="showCompleted(togglep)" id="showcompleted">
                                                    <button #togglep  class="noselect">show complete items</button>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bucketitem of selectedBucket.items | uncompleteTasks: selectedBucket.items" [class.editing]="editMode">

                                        <!-- <tr *ngFor="let bucketitem of selectedBucket.items | completeTasks: selectedBucket.items" [class.editing]="editMode"> -->
                                            <td #viewitem class="view td" [class.completed]="bucketitem.done">
                                                <input type="checkbox" class="toggle checkbox" (click)="toggle(bucketitem)" [checked]="bucketitem.done">
                                            </td>
                                            <td style="width: 50%;" class="td">{{bucketitem.item_name}}</td>
                                            <td class="td"><i (click)="updatetrigger(enterEditMode(ItemInput,  labelitem, ItemInput.value))" style="cursor: pointer;" class="material-icons">edit</i></td>

                                            <modal [animation]="animationsEnabled" (onClose)="updateItem()" #edititemModal>
                                                <modal-header [show-close]="true">
                                                    <h4 class="modal-title">Update item</h4>
                                                </modal-header>
                                                <modal-body>
                                                    <input #ItemInput type="text" autofocus class="edit" [value]="bucketitem.item_name" (keyup.enter)="commitEdit(ItemInput.value,ItemInput, labelitem)" (keyup.escape)="cancelEdit(ItemInput, labelitem, selectedBucket)" (blur)="commitEdit(ItemInput.value,ItemInput, labelitem,bucketitem)" class="form-control no-border input-lg">
                                                </modal-body>
                                                <modal-footer>
                                                    <button type="button" style="width: 80px;" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                                                    <button type="button" style="width: 80px;" class="btn btn-primary" (click)="edititemmodal.close();">Update</button>
                                                </modal-footer>
                                            </modal>
                                            <td class="td"><i (click)="deleteitemtrigger(bucketitem)" style="cursor: pointer;" class="material-icons ">delete_forever</i></td>
                                            <modal [animation]="animationsEnabled" (onClose)="deleteItem()" #modalconfirmitem>
                                                <modal-header [show-close]="true">
                                                    <h4 class="modal-title">Confirm Delete</h4>
                                                </modal-header>
                                                <modal-body>
                                                    You are about to delete an item?
                                                </modal-body>
                                                <modal-footer>
                                                    <button type="button" style="width: 80px;" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                                                    <button type="button" style="width: 80px;" class="btn btn-primary" (click)="confirmmodalitem.close();">Delete</button>
                                                </modal-footer>
                                            </modal>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="fixed">
                                            <button class="btn-flip back-flip " type="button">back</button>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <footer>
        <div class="is-text-centered">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm" id="footer">
                    <div class="container">
                        <p>Welcome to bucketfront built by <a href="https://plus.google.com/+MaggieRain/" target="blank">@margierain</a> | to logout click <a title="click to logout" (click)="logOut()">logout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
