<div class="main ">
    <h2>Log in</h2>
    <div [hidden]="register_success" class="alert alert-info fade in">
        <a style="cursor: pointer;" (click)="closealert()" class="close" data-dismiss="alert" aria-label="close">&times;</a> Login to access your account
    </div>
    <form id="loginform" role="form" *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div [hidden]="correct" id="loginalert" class="alert alert-danger">
            <div *ngFor='let error of arrayOfKeys'>
                <p>{{userobj[error]}}</p>
            </div>
        </div>
        <md-input id="login-username" type="username" name="username" value="" placeholder="name" required [(ngModel)]="model.email" ngControl="username" #username="ngModel">
            <span md-prefix><i class="material-icons">account_circle</i></span>
        </md-input>
        <div [hidden]=" username.valid || username.pristine" class="alert alert-danger">Key in your username </div>
        <md-input id="login-password" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password" ngControl="password" #password="ngModel">
            <span md-prefix><i class="material-icons">lock</i></span>
        </md-input>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Key in your password</div>
        <button md-raised-button  [disabled]="!loginForm.form.valid"> Log in</button>
    </form>
    <p>Click here to <a class="noselect" style="cursor: pointer;" (click)="showSignUp()">Sign Up</a></p>
</div>
